<div class="btn">
<h1>BLOG APP</h1>
    <button>
      <%= link_to 'Create new post', new_user_post_path(current_user) %>
    </button>
  </div> 
<% @users.each do |user| %>
  <%= render 'shared/user', user:user %>
<% end %>
