<%= stylesheet_link_tag('index') %>
<div class="container">
  <div class="user">
    <img src="example.com" alt="image">
    <div>
      <h1>Username</h1>
      <p>Number of posts x</p>
    </div>
  </div>
  <div class="user">
    <img src="example.com" alt="image">
    <div>
      <h1>Username</h1>
      <p>Number of posts x</p>
    </div>
  </div>
  <div class="user">
    <img src="example.com" alt="image">
    <div>
      <h1>Username</h1>
      <p>Number of posts x</p>
    </div>
  </div>
  <div class="user">
    <img src="example.com" alt="image">
    <div>
      <h1>Username</h1>
      <p>Number of posts x</p>
    </div>
  </div>
  <div class="user">
    <img src="example.com" alt="image">
    <div>
      <h1>Username</h1>
      <p>Number of posts x</p>
    </div>
  </div>
</div>