<%= render 'shared/user', user:@user %>

<div>
  <% @posts.each do |post| %>
    <div class="container">
      <b> <%= link_to post.title, user_post_path(@user,post) %></b>
      <%= render 'shared/post', post: post %>
      <%= render 'shared/comment', comments: post.recent_comments %>
    </div>
  <% end %>
</div>
