<%= stylesheet_link_tag('index') %>
<div class="container">
  <div class="user">
    <img src="example.com" alt="image">
    <div>
      <h1>Username</h1>
      <p>Number of posts x</p>
    </div>
  </div>
  <div>
    <h2>post 1</h2>
    <p>comment 1</p>
    <p>comment 2</p>
    <p>comment 3</p>
  </div>
  <div>
    <h2>post 2</h2>
    <p>comment 1</p>
    <p>comment 2</p>
    <p>comment 3</p>
  </div>
  <div>
    <h2>post 3</h2>
    <p>comment 1</p>
    <p>comment 2</p>
    <p>comment 3</p>
  </div>
</div>