.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.user {
  width: 50%;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  border: 1px solid gray;
}

.user-post {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  border: 1px solid gray;
}
